<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>rankr</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
</head>

<body>
    <p>Welcome to rankr!</p>
    <div>
        <select id="weekSelect">
            {% for week in range(1, latest_week+1) %}
                <option value={{week}}>Week {{week}}
            {% endfor %}
            <option value="season" selected="selected">Season Avg
        </select>
    </div>
    <script src="/static/js/charts.js"></script>
    <script>
        $(document).ready(function() {
            loadChart("season");
        });

        $(document).on("change", "#weekSelect", function(){
            let selectedWeek = $(this).find("option:selected").attr('value');
            loadChart(selectedWeek);
        });
    </script>
</body>

</html>