body { 
    display: block;
    margin: 8px;
}

h1 {
    font-size: 4em;
}

div.content {
    width: 100%;
    text-align: center;
}

.form-control {
    margin: auto;
    width: 20%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#source:hover {
    text-decoration: none;
}